In [17]:
from lib.backtest import BackTest
from lib.action import Action
from config import config
from dataset.download_dataset.cryptodownloader import CryptoDownloader
import os
download_data = False
output_path = "../" + config.DATA_SAVE_DIR
if not os.path.exists(output_path):
    os.makedirs(output_path)
    download_data = True

In [18]:
data_downloader = CryptoDownloader(config.START_DATE, config.END_DATE, ["btc"], output_path=output_path)
if download_data:
    data_downloader.download_data()
df = data_downloader.load()

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/davidpedros/.kaggle/kaggle.json'
Index(['open', 'close', 'high', 'low', 'volume', 'ticker', 'datetime'], dtype='object')

In [19]:
df

,open,close,high,low,volume,ticker,datetime
3319486,57477.380115,57469.000000,57489.000000,57350.000000,11.248819,btc,2021-05-01 00:01:00
3319487,57471.852000,57629.922062,57629.922062,57471.852000,6.466445,btc,2021-05-01 00:02:00
3319488,57629.922062,57653.000000,57668.000000,57629.000000,3.098331,btc,2021-05-01 00:03:00
3319489,57650.130000,57692.000000,57697.118000,57650.130000,6.221445,btc,2021-05-01 00:04:00
3319490,57691.000000,57737.796088,57765.000000,57691.000000,3.184753,btc,2021-05-01 00:05:00
...,...,...,...,...,...,...,...
3320919,57772.000000,57761.884622,57772.337352,57761.000000,0.107872,btc,2021-05-01 23:55:00
3320920,57761.000000,57763.000000,57763.000000,57761.000000,0.397764,btc,2021-05-01 23:56:00
3320921,57763.086617,57774.000000,57774.000000,57763.086617,2.149833,btc,2021-05-01 23:57:00
3320922,57774.000000,57773.000000,57774.000000,57773.000000,0.025000,btc,2021-05-01 23:58:00
3320923,57773.000000,57774.000000,57774.000000,57767.000000,0.126541,btc,2021-05-01 23:59:00

In [24]:
# Creating a simple model that does not perform any action
class StupidModel:

    def decide_action(self, data_row, portfolio):
        return []

In [26]:
# Starting backtesting
bt = BackTest()
bt.run(StupidModel(), df)

                  datetime         close          high           low  \
ticker                               btc           btc           btc
0      2021-05-01 00:01:00  57469.000000  57489.000000  57350.000000
1      2021-05-01 00:02:00  57629.922062  57629.922062  57471.852000
2      2021-05-01 00:03:00  57653.000000  57668.000000  57629.000000
3      2021-05-01 00:04:00  57692.000000  57697.118000  57650.130000
4      2021-05-01 00:05:00  57737.796088  57765.000000  57691.000000
...                    ...           ...           ...           ...
1433   2021-05-01 23:55:00  57761.884622  57772.337352  57761.000000
1434   2021-05-01 23:56:00  57763.000000  57763.000000  57761.000000
1435   2021-05-01 23:57:00  57774.000000  57774.000000  57763.086617
1436   2021-05-01 23:58:00  57773.000000  57774.000000  57773.000000
1437   2021-05-01 23:59:00  57774.000000  57774.000000  57767.000000

                open     volume
ticker           btc        btc
0       57477.380115  11.248819
1       57471.852000   6.466445
2       57629.922062   3.098331
3       57650.130000   6.221445
4       57691.000000   3.184753
...              ...        ...
1433    57772.000000   0.107872
1434    57761.000000   0.397764
1435    57763.086617   2.149833
1436    57774.000000   0.025000
1437    57773.000000   0.126541

[1438 rows x 6 columns]

In [27]:
bt.historic_capital

    total_capital            datetime
0            1000 2021-05-01 00:01:00
0            1000 2021-05-01 00:02:00
0            1000 2021-05-01 00:03:00
0            1000 2021-05-01 00:04:00
0            1000 2021-05-01 00:05:00
..            ...                 ...
0            1000 2021-05-01 23:55:00
0            1000 2021-05-01 23:56:00
0            1000 2021-05-01 23:57:00
0            1000 2021-05-01 23:58:00
0            1000 2021-05-01 23:59:00

[1438 rows x 2 columns]

In [23]:
bt.historic_portfolio

Empty DataFrame
Columns: [datetime]
Index: []